---
layout: null
---
<h1 class="text-center text-3xl font-extrabold tracking-tight text-slate-900 dark:text-slate-200 md:text-4xl py-2 ">{{page.title}}</h1>
<div class="mx-auto">
  <p class="prose mt-4 text-slate-500 dark:text-slate-400 text-lg italic">{{page.summary}}</p>
</div>

<div class="text-sm leading-6 mt-4">
  <dl>
    <dt class="sr-only">Date</dt>
    <dd class="top-0 inset-x-0 text-slate-700 dark:text-slate-400 italic">
      <time>{{page.date | date: "%B %-d, %Y"}}</time>
    </dd>
  </dl>
</div>


<div class="mt-12 prose prose-slate dark:prose-dark">
  <p>
    {{content}}
  </p>
</div>

