---
layout: default
title: About
---

<div class="row justify-content-between">
  <div class="col-md-8 pr-5">

    {{ content }}

  </div>

  <div class="col-md-4">

    <div class="sticky-top sticky-top-80">
      <h5>I wrote a book!</h5>
      <p>
        Don’t have a CS degree? Neither do I! That’s why I wrote this book: to fill the gaps in my career. The result? 700+ pages of essentials skills and ideas every developer should know.
      </p>
      <p>
        <a href="https://bigmachine.io/products/the-imposters-handbook">
          <img src="/img/imposter_cover.png" alt="" style="height:250px">
        </a>
      </p>
      
    </div>
  </div>
</div>